<%= form_for(idea) do |f| %>
  <% if idea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(idea.errors.count, "error") %> prohibited this idea from being saved:</h2>

      <ul>
      <% idea.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input_field">
    <%= f.label :name %>
    <%= f.text_field :name, :class => 'validate' %>
  </div>

  <div class="input_field">
    <%= f.label :description %>
    <%= f.text_area :description, :class => 'materialize-textarea validate', :id => 'textarea1', :length => '120' %>
  </div>

  <div class="file-field input-field">
    <div class="btn amber">
      <span>Picture</span>
      <%= f.file_field :picture %>
    </div>
    <div class="file-path-wrapper">
      <input class="file-path validate" type="text" placeholder="Upload a file">
    </div>
  </div>

  <div class="actions">
    <%= f.submit 'Save', :class => 'waves-effect waves-light btn amber' %>
  </div>
<% end %>