<%= form_for(recipe) do |f| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input_field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="input_field">
    <%= f.label :ingredients %>
    <%= f.text_area :ingredients, :class => 'materialize-textarea validate' %>
  </div>


  <div class="input_field">
    <%= f.label :preparation %>
    <%= f.text_area :preparation, :class => 'materialize-textarea validate' %>
  </div>


       <div class="file-field input-field">
           <div class="btn amber">
            <span>Picture</span>
              <%= f.file_field :picture %>
          </div>
           <div class="file-path-wrapper">
           <input class="file-path validate" type="text" placeholder="Upload a file">
          </div>
        </div>

  <div class="actions">
    <%= f.submit 'Save', :class => 'waves-effect waves-light btn amber' %>
  </div>
<% end %>

